fin_morphodynamics/functions_folder/.ipynb_checkpoints*
fin_morphodynamics/.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
juptyer/.ipynb_checkpoints/
_Archive/functions/__pychache__/
visualization/__pychache__/
.idea/*
__pychache__
.ipynb_checkpoints
./src/build/__pychache__/*
./src/__pychache__/*
